* {
    box-sizing: border-box;
}

body {
    font-family: system,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    color: rgb(77, 86, 89);
}

table td {
    padding: 0.5em;
}

thead tr td {
    border-bottom: 1px solid gray;
    font-weight: bold;
}

td:first-child {
    text-align: right;
}

main {
    margin: 0 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

h1, h2, h3 {
    grid-column: 1/span 4;
}

table {
    grid-column: 1/span 4;
}

figure a {
    display: contents;
}

figure a img {
    padding-top: 80%;
    width: 100%;
    border: 3px solid #24aef4;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}