<p>Note: this table is incomplete.</p>
<table>
    <thead>
        <tr>
            <td>Feature Name</td>
            <td>Standardisation</td>
            <td><a href="https://github.com/immersive-web/webxr-polyfill">Polyfill</a></td>
            <td>Chrome</td>
            <td>Firefox Reality</td>
            <td>Servo</td>
            <td>WebXR Viewer</td>
            <td>Magic Leap Helio</td>
            <td>Samsung Internet</td>
            <td>Oculus Browser</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>WebXR Core</td>
            <td>
                <a href="https://github.com/immersive-web/webxr/blob/master/explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr/">Spec</a><br />
            </td>
            <td>Supported, will make use of WebVR if available and WebXR is not.</td>
            <td>Chrome 79</td>
            <td>Android standalones. PC coming soon</td>
            <td>Hololens2</td>
            <td>iOS</td>
            <td>Magic Leap Helio 0.98</td>
            <td>Samsung Internet 11.2 (Q2 2020)</td>
            <td>7.0, December 2019</td>
        </tr>
        <tr>
            <td>WebXR AR Module</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-ar-module/blob/master/ar-module-explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/webxr-ar-module/">Spec</a><br />
            </td>
            <td>Not Supported</td>
            <td>Chrome for Android, 81</td>
            <td></td>
            <td>Hololens2</td>
            <td>iOS</td>
            <td>Magic Leap Helio 0.98</td>
            <td>Samsung Internet 12.1</td>
            <td>Not Supported</td>
        </tr>
        <tr>
            <td>WebXR Gamepads Module</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-gamepads-module/blob/master/gamepads-module-explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr-gamepads-module-1/">Spec</a><br />
            </td>
            <td>Supported</td>
            <td>Chrome 79</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Partially supported on Magic Leap Helio 0.98</td>
            <td></td>
            <td>7.1, December 2019</td>
        </tr>
        <tr>
            <td>Hit Test</td>
            <td>
                <a href="https://github.com/immersive-web/hit-test/blob/master/hit-testing-explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/hit-test/">Spec</a><br />
            </td>
            <td></td>
            <td>Chrome for Android, 81</td>
            <td><!--Firefox Reality--></td>
            <td><!--Servo--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td>Samsung Internet 12.1</td>
            <td><!--Oculus Browser--></td>
        </tr>
        <tr>
            <td>DOM Overlays</td>
            <td>
                <a href="https://github.com/immersive-web/dom-overlays/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/dom-overlays/">Spec</a><br />
            </td>
            <td></td>
            <td>Chrome for Android, 83</td>
            <td><!--Firefox Reality--></td>
            <td><!--Servo--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Oculus Browser--></td>
        </tr>
        <tr>
            <td>Layers</td>
            <td>
                <a href="https://github.com/immersive-web/layers/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/layers/">Spec</a><br />
            </td>
            <td></td>
            <td><!--Chrome--></td>
            <td><!--Firefox Reality--></td>
            <td><!--Servo-->Prototyped for Hololens2 behind a pref</td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Oculus Browser-->10.0,<br/>June 2020<br/>behind a pref</td>
        </tr>
        <tr>
            <td>Hand input</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-hands-input/blob/master/explainer.md">Explainer</a><br />
            </td>
            <td></td>
            <td><!--Chrome--></td>
            <td><!--Firefox Reality--></td>
            <td><!--Servo--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Oculus Browser--></td>
        </tr>
        <tr>
            <td>Additional Details</td>
            <td></td>
            <td></td>
            <td><a href="chrome-support.html">Hardware Support Details</a></td>
            <td></td>
            <td><a href="https://blog.mozvr.com/firefox-reality-hololens/">Final release announcement</a></td>
            <td><a href="https://blog.mozvr.com/webxr-viewer-2-0-released/">2.0 announcement</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!-- <tr>
            <td>Name</td>
            <td>
                <a href="explainerurl">Explainer</a><br />
                <a href="specurl">Spec</a><br />
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr> -->
</table>
