<p><a href="https://github.com/immersive-web/immersiveweb.dev/blob/main/_includes/compat-table.html">If you notice missing data you can make changes on GitHub</a></p>
<table>
    <thead>
        <tr>
            <td>Feature Name</td>
            <td>Standardisation</td>
            <td><a href="https://github.com/immersive-web/webxr-polyfill">Polyfill</a></td>
            <td>Chrome</td>
            <td>WebXR Viewer</td>
            <td>Magic Leap Helio</td>
            <td>Samsung Internet</td>
            <td>Meta Quest Browser</td>
            <td>Microsoft Edge</td>
            <td>Wolvic</td>
            <td>Pico Browser</td>
            <td>Immersive Web Emulator<br>[<a href="https://chrome.google.com/webstore/detail/immersive-web-emulator/cgffilbpcibhmcfbgggfhfolhkfbhmik">Chrome</a>] [<a href="https://microsoftedge.microsoft.com/addons/detail/immersive-web-emulator/hhlkbhldhffpeibcfggfndbkfohndamj">Edge</a>]</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>WebXR Core</td>
            <td>
                <a href="https://github.com/immersive-web/webxr/blob/master/explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRSystem/requestSession#parameters">MDN</a><br />
            </td>
            <td>Supported, will make use of WebVR if available and WebXR is not.</td>
            <td>Chrome 79</td>
            <td>iOS</td>
            <td>Magic Leap Helio 0.98</td>
            <td>Samsung Internet 12.0</td>
            <td>7.0, December 2019</td>
            <td>Edge 87 on Windows Desktop <br>Edge 91 on Hololens 2</td>
            <td>0.9.3, February 2022</td>
            <td>Supported</td>
        </tr>
        <tr>
            <td>WebXR AR Module</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-ar-module/blob/master/ar-module-explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr-ar-module-1/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRSystem/requestSession#parameters">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td>Chrome for Android, 81</td>
            <td>iOS</td>
            <td>Magic Leap Helio 0.98</td>
            <td>Samsung Internet 12.1</td>
            <td>24.0, October 2022</td>
            <td>Edge 91. Hololens 2 only</td>
            <td><!--Wolvic--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>WebXR Gamepads Module</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-gamepads-module/blob/master/gamepads-module-explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr-gamepads-module-1/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRInputSource/gamepad">MDN</a><br />
            </td>
            <td>Supported</td>
            <td>Chrome 79</td>
            <td></td>
            <td>Partially supported on Magic Leap Helio 0.98</td>
            <td>Samsung Internet 12.0</td>
            <td>7.1, December 2019</td>
            <td>Edge 87 on Windows Desktop <br>Edge 91 on Hololens 2</td>
            <td>0.9.3, February 2022</td>
            <td>Supported</td>
        </tr>
        <tr>
            <td>Hit Test</td>
            <td>
                <a href="https://github.com/immersive-web/hit-test/blob/master/hit-testing-explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/hit-test/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRHitTestSource">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td>Chrome for Android, 81</td>
            <td>IOS</td>
            <td><!--Magic Leap Helio--></td>
            <td>Samsung Internet 12.1</td>
            <td><!--Meta Quest Browser--></td>
            <td>Edge 93. Hololens 2 only</td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>DOM Overlays</td>
            <td>
                <a href="https://github.com/immersive-web/dom-overlays/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/dom-overlays/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRSystem/requestSession#parameters">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td>Chrome for Android, 83</td>
            <td>IOS</td>
            <td><!--Magic Leap Helio--></td>
            <td>Samsung Internet 14.2</td>
            <td><!--Meta Quest Browser--></td>
            <td><!--Microsoft Edge--></td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>Layers</td>
            <td>
                <a href="https://github.com/immersive-web/layers/blob/master/explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxrlayers-1/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRWebGLLayer">MDN</a><br />
            </td>
            <td>Supported. See <a href="https://github.com/immersive-web/webxr-layers-polyfill">here</a>.</td>
            <td><!--Chrome--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Meta Quest Browser-->16.1</td>
            <td><!--Microsoft Edge--></td>
            <td><!--Pico Browser--></td>
        </tr>
        <tr>
            <td>Hand input</td>
            <td>
                <a href="https://github.com/immersive-web/webxr-hands-input/blob/master/explainer.md">Explainer</a><br />
                <a href="https://www.w3.org/TR/webxr-hand-input-1/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRHand">MDN</a> <br />
            </td>
            <td><!--Polyfill--></td>
            <td><!--Chrome--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Meta Quest Browser-->15.1,<br/>April 2021</td>
            <td>Edge 93. Hololens 2 only</td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>Anchors</td>
            <td>
                <a href="https://github.com/immersive-web/anchors/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/anchors/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRAnchor">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td><!--Chrome-->Chrome for Android, 85</td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet-->15.2</td>
            <td>24.0, October 2022</td>
            <td>Edge 93. Hololens 2 only</td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>Depth Sensing</td>
            <td>
                <a href="https://github.com/immersive-web/depth-sensing/blob/main/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/depth-sensing/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/XRDepthInformation">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td><!--Chrome-->Chrome for Android, 90</td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Meta Quest Browser--></td>
            <td><!--Microsoft Edge--></td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>Light Estimation</td>
            <td>
                <a href="https://github.com/immersive-web/lighting-estimation/blob/main/lighting-estimation-explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/lighting-estimation/">Spec</a><br />
                <a href="https://developer.mozilla.org/en-US/docs/Web/API/WebXR_Device_API/Lighting">MDN</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td><!--Chrome-->Chrome for Android, 90</td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet-->15.2</td>
            <td><!--Meta Quest Browser--></td>
            <td><!--Microsoft Edge--></td>
            <td><!--Wolvic--></td>
            <td><!--Pico Browser--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
        <tr>
            <td>Additional Details</td>
            <td><!--Standardisation--></td>
            <td><!--Polyfill--></td>
            <td><a href="chrome-support.html">Hardware Support Details</a></td>
            <td><a href="https://blog.mozvr.com/webxr-viewer-2-0-released/">2.0 announcement</a></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Meta Quest Browser--></td>
            <td><a href="https://docs.microsoft.com/en-us/windows/mixed-reality/whats-new/new-microsoft-edge"/>The new Microsoft Edge for Windows Mixed Reality</td>
            <td><a href="https://www.igalia.com/2022/02/03/Introducing-Wolvic.html" />Introducing Wolvic</td>
            <td><!--Pico Browser--></td>
            <td><a href="https://github.com/meta-quest/immersive-web-emulator/">GitHub</a></td>
        </tr>
        <tr style="display: none">
            <td>Name</td>
            <td>
                <a href="explainerurl">Explainer</a><br />
                <a href="specurl">Spec</a><br />
            </td>
            <td><!--Polyfill--></td>
            <td><!--Chrome--></td>
            <td><!--WebXR Viewer--></td>
            <td><!--Magic Leap Helio--></td>
            <td><!--Samsung Internet--></td>
            <td><!--Meta Quest Browser--></td>
            <td><!--Microsoft Edge--></td>
            <td><!--Immersive Web Emulator--></td>
        </tr>
</table>
