<p>Note: this table is out of date.</p>
<table>
    <thead>
        <tr>
            <td>Feature Name</td>
            <td>Standardisation</td>
            <td><a href="https://github.com/immersive-web/webxr-polyfill">Polyfill</a></td>
            <td>Chrome</td>
            <td>Firefox Reality</td>
            <td>Servo</td>
            <td>Helio Browser</td>
            <td>Samsung Internet</td>
            <td>Oculus Browser</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>WebXR Core</td>
            <td>
                <a href="https://github.com/immersive-web/webxr/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/webxr/">Spec</a><br />
                <small>First Published Working Draft Published</small></td>
            <td>Supported, will make use of WebVR if available and WebXR is not.</td>
            <td>Chrome 79 December 10th 2019</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Samsung Internet 11.2 (Q2 2020)</td>
            <td>7.0, December 2019</td>
        </tr><tr>
        <tr>
            <td>WebXR AR Module</td>
            <td>
                <a href="https://github.com/immersive-web/webxr/blob/master/explainer.md">Explainer</a><br />
                <a href="https://immersive-web.github.io/webxr/">Spec</a><br />
                <small>First Published Working Draft Published</small></td>
            <td>Not Supported</td>
            <td>Chrome 79 December 10th 2019</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Samsung Internet 11.2 (Q2 2020)</td>
            <td>Not Supported</td>
        </tr>
</table>